# **Alura Store**

## **Importando las bases de datos**

In [8]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

## **Analisis de datos**

### **Ingreso total por cada tienda**

In [42]:
tiendas = {
    "Tienda 1": tienda,
    "Tienda 2": tienda2,
    "Tienda 3": tienda3,
    "Tienda 4": tienda4,
}

ingresos_totales = {}

for nombre, df in tiendas.items():
    ingresos_totales[nombre] = df['Precio'].sum()

ingresos_totales

{'Tienda 1': np.float64(1150880400.0),
 'Tienda 2': np.float64(1116343500.0),
 'Tienda 3': np.float64(1098019600.0),
 'Tienda 4': np.float64(1038375700.0)}

### **Ventas por categoria**

In [ ]:
tienda.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio')
tienda2.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio')
tienda3.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio')
tienda4.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio')

                              Precio
Categoría del Producto
Libros                     8784900.0
Artículos para el hogar   12698400.0
Juguetes                  17995700.0
Deportes y diversión      39290000.0
Instrumentos musicales    91299000.0
Muebles                  187633700.0
Electrodomésticos        363685200.0
Electrónicos             429493500.0

In [30]:
tienda4.groupby('Producto')[['Calificación']].mean().sort_values('Calificación')

                             Calificación
Producto
TV LED UHD 4K                    3.575000
Guitarra acústica                3.675676
Mesa de centro                   3.750000
Pandereta                        3.769231
Guitarra eléctrica               3.787879
Bloques de construcción          3.814815
Secadora de ropa                 3.825000
Estufa                           3.829787
Mochila                          3.837209
Ciencia de datos con Python      3.842105
Cubo mágico 8x8                  3.851064
Cama king                        3.857143
Lavavajillas                     3.860465
Sofá reclinable                  3.872340
Balón de baloncesto              3.880000
Bicicleta                        3.888889
Celular ABXY                     3.897436
Set de ollas                     3.940000
Carrito de control remoto        3.945455
Refrigerador                     3.947368
Mesa de comedor                  3.963636
Smartwatch                       3.974359
Auriculares con micrófono        3.976190
Cubertería                       3.983051
Cama box                         3.983871
Ajedrez de madera                4.000000
Lavadora de ropa                 4.000000
Dinosaurio Rex                   4.000000
Dashboards con Power BI          4.017857
Tablet ABXY                      4.022222
Silla de oficina                 4.025000
Smart TV                         4.037037
Asistente virtual                4.040000
Modelado predictivo              4.040000
Set de vasos                     4.043478
Impresora                        4.060000
Iphone 15                        4.083333
Muñeca bebé                      4.083333
Olla de presión                  4.086957
Microondas                       4.104167
Sillón                           4.111111
Kit de bancas                    4.119048
Mesa de noche                    4.145455
Vaso térmico                     4.145833
Armario                          4.235294
Juego de mesa                    4.250000
Iniciando en programación        4.255814
Cuerda para saltar               4.279070
Balón de voleibol                4.291667
Auriculares                      4.318182
Batería                          4.333333